.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.unSelectedAble {
    /* 内容不可以被选中 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

input {
    outline: none;
}

img {
    display: block;
}

html,
body {
    height: 100%;
    /* overflow: hidden; */
}

/**** Start ****/
html {
    /* touch-action: none; */
}

#wrap {
    width: 100%;
    min-height: 100%;
    
    background-color: #96b377;
}

#content {
    width: 100%;
    padding-bottom: 50px;
    
    font-size: 14px;
    background: darkgrey;
}

#footer {
    width: 100%;
    height: 50px;
    margin-top: -50px;
    
    background: chocolate;
    text-align: center;
    line-height: 50px;
}

button {
    height: 36px;
    margin-bottom: 20px;
    
    color: #000;
    font-size: 18px;
    background-color: #94b5b2;
    border: 0 none;
    border-radius: 6px;
}

input {
    font-size: 18px;
    background-color: #b76f59;
    border: 0 none;
    padding: 6px;
    margin-bottom: 20px;
}

#content {
    padding-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}
